<form (ngSubmit)="onSubmit($event)" [formGroup]="form">
  <div class="groups">
    <ng-container *ngFor="let section of options?.sections">
      <group
        *ngFor="let group of section.form?.groups"
        [group]="group"
        [preferences]="sectionPreferences(section)"
        [form]="sectionForm(section)"
        [validationOn]="options.validationOn"
        [ngClass]="{
          'visible-group': groupInActiveSelection(group)
        }"
      ></group>
    </ng-container>
  </div>
  <div class="bottom-bar">
    <flash-message [message]="flashMessage"></flash-message>
    <button type="submit" class="btn btn-primary">
      {{ messages.save }}
    </button>
  </div>
</form>
